/* NavBar */
nav.navbar {
  box-shadow: 0 0.5rem 1rem #0000001a;
  background: linear-gradient(
    to right,
    rgba(234, 234, 234, 0.5),
    rgba(219, 219, 219, 0.5),
    rgba(242, 242, 242, 0.5),
    rgba(173, 169, 150, 0.5)
  );
}

.navbar-brand {
    width: 40%;
}

nav.navbar.scrolled {
  background: linear-gradient(
    to right,
    rgb(234, 234, 234),
    rgb(219, 219, 219),
    rgb(242, 242, 242),
    rgb(173, 169, 150)
  );
}

.navbar-toggler {
  width: fit-content;
}

nav.navbar .navbar-brand img {
  width: 20%;
}

nav.navbar .nav-link.active {
  color: var(--main-color);
}

nav.navbar .nav-link {
  position: relative;
}

nav.navbar .nav-link::before,
nav.navbar .nav-link::after {
  content: "";
  width: 25%;
  height: 25%;
  position: absolute;
  opacity: 0;
  transition-duration: 0.5s;
}

nav.navbar .nav-link::before {
  top: 0;
  left: 0;
  border-top: 1px solid var(--main-color);
  border-left: 1px solid var(--main-color);
  transform: translateX(-100%);
}

nav.navbar .nav-link::after {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid var(--main-color);
  border-right: 1px solid var(--main-color);
  transform: translateX(100%);
}

nav.navbar .nav-link.active::before,
nav.navbar .nav-link:hover::before,
nav.navbar .nav-link.active::after,
nav.navbar .nav-link:hover::after {
  opacity: 1;
  transform: translateX(0);
}

nav.navbar ul li i {
  color: #777;
  cursor: pointer;
  transition-duration: 0.5s;
}

nav.navbar ul li i:hover {
  color: var(--main-color);
}

/* Header Page */
#SC-Carousel {
  position: relative;
}

#SC-Carousel > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#SC-Carousel > button.prev {
  left: 30px;
  right: 0;
}

#SC-Carousel > button.next {
  right: 30px;
}

#SC-Carousel .sc-carousel-inner {
  position: relative;
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item.active {
  z-index: 1;
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item:nth-of-type(1) {
  background-image: url("../nike_images/home-bg-1.jpg");
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item:nth-of-type(2) {
  background-image: url("../nike_images/home-bg-2.jpg");
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item:nth-of-type(3) {
  background-image: url("../nike_images/home-bg-3.jpg");
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item .part1 {
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translate(-50%);
  transition-duration: 1s;
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item.active .part1 {
  opacity: 1;
  transform: translate(0);
  transition-delay: 1s;
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item .part1 .item {
  width: 80%;
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item .part1 .item h2 {
  margin-block: 20px;
  font-size: 50px;
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item .part2 .item {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item .part2 img:nth-of-type(1) {
  position: relative;
  width: 90%;
  opacity: 0;
  transform: translate(-30px, -50%);
  transition-duration: 1s;
}

#SC-Carousel
  .sc-carousel-inner
  .sc-carousel-item.active
  .part2
  img:nth-of-type(1) {
  opacity: 1;
  transform: translate(-30px, -10%);
  transition-delay: 0.5s;
}

#SC-Carousel .sc-carousel-inner .sc-carousel-item .part2 img:nth-of-type(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%) rotate(0deg) scale(0.5);
  opacity: 0;
  width: 100%;
  transition-duration: 1s;
}

#SC-Carousel
  .sc-carousel-inner
  .sc-carousel-item.active
  .part2
  img:nth-of-type(2) {
  transform: translate(-40%, -60%) rotate(-30deg) scale(1);
  opacity: 1;
}

#Offer .part::after {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  transform: rotate(45deg);
  transition-duration: 1s;
}

#Offer .part:hover::after {
  left: -120%;
}
#Offer .part img {
  transform: scale(1.1);
  transition-duration: 1s;
}

#Offer .part:hover img {
  transform: scale(1);
}

#Latest .content .box2 img {
  width: 60%;
}

#Latest .content .part2 p {
  color: #777;
}

#Latest .content .part2 h6 {
  font-weight: 900;
}

#Latest .content .part2 .size ul li {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: initial;
  cursor: pointer;
}

#Latest .content .part2 .size ul li.active {
  background-color: var(--main-color);
  color: #fff;
}

#Latest .content .part2 .size ul li:hover {
  color: #fff;
}

#Latest .content .part2 button {
  width: fit-content;
}

#Latest .content .part2 button:hover {
  background-color: var(--main-color);
  color: #fff;
}

#Latest .content .part2 button.remove {
    color: var(--bs-warning);
    border: 1px solid var(--bs-warning);
}

#Latest .content .part2 button.remove:hover {
    color: #fff;
      background-color: var(--bs-warning);
}

#Featured .item .product .discount {
  background-color: var(--main-color);
  color: #fff;
  position: absolute;
  font-size: 14px;
  top: 8px;
  left: -15px;
  width: 100%;
  transform: translateX(50%) rotate(45deg);
}

#Featured .item .product .head .slectedImage img {
  transition-duration: 0.5s;
}

#Featured .item:hover .product .head .slectedImage img {
  transform: scale(1.2);
}

#Featured .item .product .icons i,
#Featured .item .product .icons ul {
  transform: translateY(10px);
  opacity: 0;
  transition-duration: 1s;
}

#Featured .item .product .icons i {
  width: 35px;
  height: 35px;
  box-shadow: 0 10px 15px #0003;
  cursor: pointer;
}

#Featured .item:hover .product .icons i,
#Featured .item:hover .product .icons ul {
  transform: translateY(-10px);
  opacity: 1;
}

#Featured .item .product .icons i:hover {
  background-color: var(--main-color);
  color: #fff;
}

#Featured .item:hover .product .icons ul {
  transition-delay: 0.3s;
}

#Featured .item .product .icons ul li {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#Featured .item .product .icons ul li.active {
  background-color: var(--main-color);
}

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup.active {
  display: flex;
  transition-duration: 1s;
}

.popup .box {
  background: linear-gradient(
    to right,
    rgb(234, 234, 234),
    rgb(219, 219, 219),
    rgb(242, 242, 242),
    rgb(173, 169, 150)
  );
  transform: translateY(-100%);
  opacity: 0;
  transition-duration: 1s;
}

.popup.show .box {
  transform: translateY(0);
  opacity: 1;
}

.popup .head i {
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 25px;
  color: var(--main-color);
  cursor: pointer;
}

.popup .body form {
  width: 400px;
}

.popup[data-popup-name="shop"] .box {
    width: 60%;
    margin: 50px auto;
    height: fit-content;
}

/* .popup[data-popup-name="shop"].active {
    display: block;
} */

/* .loadingPage {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 1;
    transition-duration: .5s;
}

.loadingPage.hide {
    opacity: 0;
}

.loadingPage img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.popup[data-popup-name="product"] .box {
  width: 60%;
}

.popup[data-popup-name="product"] .box .size li,
.popup[data-popup-name="shop"] .box .size ul li.active {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: initial;
  cursor: pointer;
}

.popup[data-popup-name="shop"] .box .size ul li.active {
    background-color: var(--main-color);
    color: #fff;
}

.popup[data-popup-name="product"] .box .size ul li.active {
  background-color: var(--main-color);
  color: #fff;
}

.popup[data-popup-name="product"] .box .size ul li:hover {
  color: #fff;
} 

.color li {
  width: 20px;
  height: 20px;
  border: none;
}

.color li.active {
  box-shadow:
    #00000040 0 54px 55px,
    #0000001f 0 -12px 30px,
    #0000001f 0 4px 6px,
    #0000002b 0 12px 13px,
    #00000017 0 -3px 5px;
}

.popup[data-popup-name="product"] .box button {
  width: fit-content;
}

.popup[data-popup-name="product"] .box button:hover {
  background-color: var(--main-color);
  color: #fff;
}

.popup[data-popup-name="product"] .box button.remove {
    color: var(--bs-warning);
    border: 1px solid var(--bs-warning);
}

.popup[data-popup-name="product"] .box button.remove:hover {
    color: #fff;
      background-color: var(--bs-warning);
}
