@media (max-width: 1300px) {
  nav.navbar .container {
    display: flex;
    flex-wrap: nowrap;
  }

  .navbar-toggler {
    width: fit-content;
  }

  nav.navbar {
    position: relative;
  }

  nav.navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    background: linear-gradient(
      to right,
      rgb(234, 234, 234),
      rgb(219, 219, 219),
      rgb(242, 242, 242),
      rgb(173, 169, 150)
    );
    padding-block: 20px;
    width: 100%;
  }

  nav.navbar .nav-link {
    width: fit-content;
    margin: auto;
  }

  nav.navbar .navbar-collapse ul:nth-of-type(2) {
    justify-content: center;
  }

  nav.navbar .navbar-brand img {
    width: 30%;
  }

  #SC-Carousel > button {
    width: 35px;
    height: 35px;
  }

  #SC-Carousel > button.prev {
    top: 90%;
    left: 75%;
  }

  #SC-Carousel > button.next {
    top: 90%;
    right: 5px;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item {
    padding-top: 80px;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part1 .item {
    width: 100%;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part1 .item h2 {
    margin-block: 20px;
    font-size: 30px;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part2 .item {
    width: 70%;
    margin: auto;
  }

  section .title img {
    width: 80px;
  }

  .popup[data-popup-name="login"] .box {
    width: 280px;
  }

  .popup .body form {
    width: initial;
  }

  .popup.active[data-popup-name="product"] {
  display: block;
  
}

.popup.active[data-popup-name="product"] .box {
    margin: 30px auto;
    width: 280px;
}

  .popup[data-popup-name="shop"] .box {
    width: 280px;
  }
}

@media (min-width: 371px) and (max-width: 1300px) {
  #SC-Carousel .sc-carousel-inner .sc-carousel-item {
    padding-top: 120px;
  }

  #SC-Carousel > button.prev {
    left: 80%;
  }
}

@media (min-width: 577px) and (max-width: 1300px) {
  #SC-Carousel .sc-carousel-inner .sc-carousel-item {
    padding-top: 140px;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part2 .item {
    width: 50%;
  }

  #SC-Carousel > button.prev {
    left: 85%;
  }

  section .title img {
    width: 100px;
  }

  

  .popup[data-popup-name="login"] .box {
    width: initial;
  }

  .popup .body form {
    width: 400px;
  }

  .popup[data-popup-name="shop"] .box {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  #SC-Carousel > button.next {
    right: 30px;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part1 .item {
    width: 90%;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part2 .item {
    width: 100%;
  }

  section .title img {
    width: 200px;
  }

  #Latest .content .box1 ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
  }

  #Latest .content {
    width: 500px;
    margin: auto;
  }

  #Latest .content .box1 ul li img {
    width: 80%;
  }

  .popup.active[data-popup-name="product"] {
  display: flex;
  
}

.popup.active[data-popup-name="product"] .box {
    /* margin: 30px auto; */
    width: 60%;
}
}

@media (min-width: 992px) and (max-width: 1300px) {
  nav.navbar .navbar-collapse {
    position: static;
    top: 0%;
    left: 0;
    background: initial;
    padding-block: 0px;
    width: 0%;
  }

  #SC-Carousel > button {
    width: 45px;
    height: 45px;
  }

  #Latest .content {
    width: initial;
  }
}

@media (min-width: 1181px) and (max-width: 1300px) {
  #SC-Carousel > button.next {
    right: 60px;
  }
}
