@media (max-width: 1300px) {
  nav.navbar .container {
    display: flex;
    flex-wrap: nowrap;
  }

  .navbar-toggler {
    width: fit-content;
  }

  nav.navbar .navbar-brand img {
    width: 30%;
  }

  #SC-Carousel > button {
    width: 35px;
    height: 35px;
  }

  #SC-Carousel > button.prev {
    top: 90%;
    left: 75%;
  }

  #SC-Carousel > button.next {
    top: 90%;
    right: 5px;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item {
    padding-top: 80px;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part1 .item {
    width: 100%;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part1 .item h2 {
    margin-block: 20px;
    font-size: 30px;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part2 .item {
    width: 70%;
    margin: auto;
  }
}

@media (min-width: 371px) and (max-width: 1300px) {
    #SC-Carousel .sc-carousel-inner .sc-carousel-item {
    padding-top: 120px;
  }

  #SC-Carousel > button.prev {
    left: 80%;
  }
}

@media (min-width: 577px) and (max-width: 1300px) {
    #SC-Carousel .sc-carousel-inner .sc-carousel-item {
    padding-top: 140px;
  }

  #SC-Carousel > button.prev {
    left: 85%;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  #SC-Carousel > button.next {
    right: 30px;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part1 .item {
    width: 90%;
  }

  #SC-Carousel .sc-carousel-inner .sc-carousel-item .part2 .item {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
    #SC-Carousel > button {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 1181px) and (max-width: 1300px) {
    #SC-Carousel > button.next {
    right: 60px;
  }
}
